body {
  background-color: #d4edeb;
  font-family: "Montserrat", sans-serif;
  color: #0a4854;
}

p,
li,
ul,
h1,
h2 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

h1 {
  font-weight: 700;
  font-size: 76px;
  max-width: 500px;
}

h1,
h2 {
  text-transform: uppercase;
}

h2 {
  margin-bottom: 25px;
  font-size: 32px;
}

p {
  font-size: 21px;
  max-width: 850px;
}

ul {
  list-style: none;
}

main {
  display: flex;
}

.info {
  padding-top: 72px;
  margin-left: 72px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contacts ul, .tech-skills ul, .soft-skills ul, .languages ul {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contacts a {
  font-size: 18px;
}

.about {
  padding-top: 72px;
  margin-left: 150px;
  width: calc(100% - 350px - 172px);
}

.name {
  margin-bottom: 64px;
}

.name p {
  font-size: 28px;
}

.education ul, .project-exp ul {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.education li, .project-exp li {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.educ-place {
  font-weight: 600;
  color: #13697a;
}

.about-info {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  gap: 40px;
}

.avatar {
  width: 350px;
  height: 350px;
}

/* .exp {
  display: flex;
  flex-direction: column;
  gap: 12px;
} */
